<center> <h1>AllBook</h1></center>
<%= link_to 'create-book', new_admin_book_path , class: "btn btn-new" %>
<%= link_to 'export', admin_books_path(format: :csv) %>
 <%= link_to 'restore', admin_restores_path %>
<table id = "customers">
	<tr >
		<th >
			Title
		</th>
		<th >
			author
		</th >
		<th >
			description
		</th >
		<th >
			category
		</th >
		<th >
			edit 
		</th>
		<th >
			delete
		</th>
	</tr>
		<tbody id = "append-book">
			<%= render @books %>
		</tbody>

<%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>

    
</table>	

