
  <div class="row" id = "delete-comment<%= comment.id %>">
    <div class="col-md-11">
      <%=  comment.user.email %>:
      <span class="timestamp">
        <%= comment.created_at %>
      </span><br/>
      <p><%= comment.content %><p>
        <%= link_to 'delete', comment,
          method: :delete, remote: true %>
    </div>
  </div>




