<!-- <div style = "display: none">
<iframe width="1280" height="720" src="https://www.youtube.com/embed/cJW1aBqWTqU?autoplay=1" frameborder="0" allow="accelerometer;autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div> -->
<div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://cdn.pixabay.com/photo/2017/07/23/16/01/nature-2531761__340.jpg" alt="Los Angeles" style="width:100%;">

      </div>

      <div class="item">
        <img src="https://cdn.pixabay.com/photo/2016/02/03/08/32/banner-1176676__340.jpg" alt="Chicago" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="https://cdn.pixabay.com/photo/2017/10/03/17/53/nature-2813487__340.jpg" alt="New york" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
   <center><h1 style="color: red">All Book</h1></center>
   <div class = "row">
     <div class ="col-sm-3 "> 
      <center><h1 style="color: red"> Category</h1></center>
             <div class="panel-group category-products" id="accordian" style = " cursor: pointer;"><!--category-productsr-->
            <% Book.categories.keys.each_with_index do |t| %>
              <div class="panel panel-default" >
                <a href = "/books?category=<%=t %>">
                  <div class="panel-heading">
                    <h4 class="panel-title category-click" data-id="<%= t %>">
                      <%=t %>
                    </h4>
                  </div>
                </a>
              </div>
            <% end %>
          </div><!--/category-products-->
          </div>
      <div class = "col-sm-9">      
        <div class="row row-cols-4">
          <%= render @books %>
        </div>
          <%= render partial: 'shared/pagination', locals: {pagy: @pagy} if @pagy.pages > 1 %>  
        <div class >
          <% Book.limit(10).each do |book| %>

          <% end %>
        </div>
      </div>  
    </div>  
<!--   
 
  <script type="text/javascript">
  		$(document).ready(function(){
  			$(document).on('click', '.category-click', function(){
  				var page_id = $(this).data('id');
  				$.ajax({
  					type: 'get',
  					url: '/books',
  					data: {
  						category: page_id

  					},
  					success: function(data){
  						$('#home').html(data.data_books);
  					}
  				})
  			})
  		})
  </script> -->
