<style type="text/css">
	#select_chapter_paginate li{
		display: inline-block;
		list-style: none;
	}
	#previous .next_page{
		display: none;
	}
	#links_page .next_page{
		display: none;
	}
	#links_page .previous_page{
		display: none;
	}
	#next .previous_page{
		display: none;
	}
</style>	
	<% provide(:title, @book.title) %>
	<center style ="font-size: 40px; color: #ADFF2F"><%= @book.title  %></center>
	<center><button id = "des"> mô tả </button></center>
	<center id = "cat" style = "display: none"><%= @book.description %></center>
	<center > Category:  <%= @book.category %></center>
		<%= ((@book.rates.pluck(:rating)).inject{ |sum, el| sum + el }.to_f / (@book.rates.pluck(:rating)).size).round(1)	 %> <img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/1077px-Star_icon_stylized.svg.png" style="width: 20px;  "> | <%= @book.rates.count %> votes. <br />
			<div id = "select_chapter_paginate">
				<ul >
					<li id = "previous">
						<%= will_paginate @chapters, :previous_label => 'Pre',:page_links => false, next_label: ""  %>
					</li>
					<li id = "links_page">
						<%= will_paginate @chapters, :previous_label => '', next_label: ''  %>
					</li>
					<li id = "next">
						<%= will_paginate @chapters, :previous_label => "",:page_links => false, next_label: 'Next'  %>
					</li>
				</ul>
			</div>
			<div class = "container" style = "background-color: white">
				<% @chapters.each do |chapter| %>
				<center style = "text-align: center;color: gold; font-size: 30px"><%= chapter.title %></center>
					<center style = "text-align: center;color: red; font-size: 20px"> Tác giả: <%= chapter.book.author %></center>
					<span style ="font-size: 18px">
						<%= chapter.body.html_safe  %>
					</span>
				<% end %>
			</div>	
			
			

	<div class = "row">	
		<div class = "col-8">
			<% if user_signed_in? %>	
				<% if @rate.nil? %>
					<input type="button" name="rate" class = "rates-book btn-success" id = "rate-book" value = "rate">
				<div class = "rating-book" style = "width: 300px; display: none" >
					<input value="<%= @book.class.name %>" type="hidden" name="rate[rate_duty_type]" id="rate_rate_duty_type">
					<input value="<%= current_user.id %>" type="hidden" name="rate[rate_duty_type]" id="rate-book-user">
					<input value="<%= @book.id %>" type="hidden" name="rate[rate_duty_id]" id="rate_rate_duty_id" class = "creat-rates">
					<input class="star star-5" id="star-5" type="radio" value="5" name="rate[rating]">
					<label class="star star-5" for="star-5"></label>
					<input class="star star-4" id="star-4" type="radio" value="4" name="rate[rating]">
					<label class="star star-4" for="star-4"></label>
					<input class="star star-3" id="star-3" type="radio" value="3" name="rate[rating]">
					<label class="star star-3" for="star-3"></label>
					<input class="star star-2" id="star-2" type="radio" value="2" name="rate[rating]">
					 <label class="star star-2" for="star-2"></label>
					<input class="star star-1" id="star-1" type="radio" value="1" name="rate[rating]"> 
					<label class="star star-1" for="star-1"></label>
					<center><p style="width:50px">
						<input type="button" name="commit" value="rate" class="btn rate-book" data-disable-with="rate"  data-id = "">
					</p></center>
				</div>
				<% else %>	
					<input type="button" name="rate" class = "rates-book btn-success" id = "re-rate-book" value = "re-rate">
				<div class = "rating-book" style = "width: 300px; display: none" >
					<input value="<%= @book.class.name %>" type="hidden" name="rate[rate_duty_type]" id="rate_rate_duty_type">
					<input value="<%= current_user.id %>" type="hidden" name="rate[rate_duty_type]" id="rate-book-user">
					<input value="<%= @book.id %>" type="hidden" name="rate[rate_duty_id]" id="rate_rate_duty_id" class = "creat-rates">
					<input class="star star-5" id="star-5" type="radio" value="5" name="rate[rating]">
					<label class="star star-5" for="star-5"></label>
					<input class="star star-4" id="star-4" type="radio" value="4" name="rate[rating]">
					<label class="star star-4" for="star-4"></label>
					<input class="star star-3" id="star-3" type="radio" value="3" name="rate[rating]">
					<label class="star star-3" for="star-3"></label>
					<input class="star star-2" id="star-2" type="radio" value="2" name="rate[rating]">
					 <label class="star star-2" for="star-2"></label>
					<input class="star star-1" id="star-1" type="radio" value="1" name="rate[rating]"> 
					<label class="star star-1" for="star-1"></label>
					<center><p style="width:50px">
						<input type="button" name="commit" value="rate" class="btn re-rate-book" data-disable-with="rate"  data-id = "<%= @rate.id %>">
					</p></center>
				</div>
				<% end %>
			<% end %>

		<div class = "append-comment" style = "margin-top: 20px;">
			<% if @comments.any? %>
				<%= render @comments %>
			<% end %>
		</div>
		<% if user_signed_in? %>	
			<div>
				<input value="<%= @book.id %>" type="hidden" name="comment[cmt_duty_id]" id="comment_cmt_duty_id">
				<input value="<%= current_user.id %>" type="hidden" name="comment[user_id]" id="comment_user_id">
				<input value="<%= @book.class.name %>" type="hidden" name="comment[cmt_duty_type]" id="comment_cmt_duty_type">
				<textarea class="form-control" name="comment[content]" id="comment_content"></textarea>
				<input type="button" name="commit" value="comment" class="btn-success post-comment" data-disable-with="comment">
			</div>
		<% end %>
	</div>

	<div class = "col-4">
		<center> Bài đánh giá </center>	
		<% if @posts.any? %>
				<%= render @posts %>	
			<% end %>
		<% if user_signed_in? %>
		<%= link_to 'create_post', new_book_post_path(@book), class: "btn btn-success"  %><br>
		<% end %>

	</div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		$('#select-chapter').click(function(){
			$('.list-chapter').toggle()
		})
		$('#des').click(function(){
			$('#des').hide()
			$('#cat').show()
		})
		$('#cat').click(function(){
			$('#des').show()
			$('#cat').hide()
		})
	});
</script>


	