<% if current_cart.content.present? %>
	<% current_cart.content.each do|key, value| %>
		<% booksale= Booksale.find_by id: key %>
			<tr class ="xoa-<%= booksale.id %>">
			<td>
				<%= image_tag("https://i.pinimg.com/736x/67/37/3d/67373d4d12004cc8337fcfe1226698de.jpg", width: "50px")%>
			</td>	
		
			<td class="cart_description">
				<h4><%= booksale.name %></h4>
			</td>
			<td>
				<%= booksale.price %>
			</td>
		
			<td class="cart_quantity"  >
				<div class="cart_quantity_button">
					<button class="add-key" data-iddetail="<%= booksale.id %>"  
						> + </button>
					<input style ="width: 30px" class="quantity-<%= booksale.id %>" name="quantity" value= "<%= value  %>" autocomplete="off" >
					<button class="minus-key" data-id="<%= booksale.id %>" > - </button>
				</div>
			</td>
			<td>
				<%= booksale.price*value%>
			</td>
			
			<td class="cart_delete-<%= booksale.id %>">
				<button class="delete-product" data-id = "<%= booksale.id %>">X</button>
			</td>
		</tr>
	<%end%>
<%end%>

