
<div class = "container">
	<div class = "row">
		<div class = "col-sm-4">
				<%= link_to image_tag("https://i.pinimg.com/736x/67/37/3d/67373d4d12004cc8337fcfe1226698de.jpg", width: "100%"), '#' %>
		</div>
		<div class = "col-sm-5">
			<h1>Tên sách: <%= @booksale.name %></h1>
			<h2>Thể loại: <%= @booksale.category %></h2>
			<h2>Giá: <%= @booksale.price %></h2>	
			<input type="hidden" id="booksale_id" value = "<%=@booksale.id %>">
			<div>
				<button id ="add">+</button>
				<input style = "width: 30px" id ="result_quantity" type ="text" value = "1">
				<button id ="reduce">-</button>
			</div>	
				<button type="button" class="btn btn-fefault cart button-cart" style ="font-size: 15px;  ">
					<i class="fa fa-shopping-cart"></i>
					Add to cart
				</button>	
		</div>	
	</div>
</div>
<% if user_signed_in? %>
	<input type="text" name="cart" id = "cart_id" value="<%=current_cart.id%>">
<% end %>




