<h2>review for <%= @post.book.title%></h2>
<h3><%= @post.title %></h3><br>
<%= @post.content.html_safe %><br>
<%= @post.user.email %><br>
<% if user_signed_in? %>
	<% if current_user.current_user?(@post.user) %>
		<%= link_to 'edit', edit_book_post_path(@post.book,@post) %>
	<% end %>	
<%= social_share_button_tag(@post.title) %>

<% if @rate.nil? %>
	<input type="button" name="rate" class = "rates-post" id = "rate-post" value = "rate">
<div class = "rating-post" style = "width: 300px; display: none" >
	<input value="<%= @post.class.name %>" type="hidden" name="rate[rate_duty_type]" id="rate_rate_duty_type">
	<input value="<%= current_user.id %>" type="hidden" name="rate[rate_duty_type]" id="rate-post-user">
	<input value="<%= @post.id %>" type="hidden" name="rate[rate_duty_id]" id="rate_rate_duty_id" class = "creat-rates">
	<input class="star star-5" id="star-5" type="radio" value="5" name="rate[rating]">
	<label class="star star-5" for="star-5"></label>
	<input class="star star-4" id="star-4" type="radio" value="4" name="rate[rating]">
	<label class="star star-4" for="star-4"></label>
	<input class="star star-3" id="star-3" type="radio" value="3" name="rate[rating]">
	<label class="star star-3" for="star-3"></label>
	<input class="star star-2" id="star-2" type="radio" value="2" name="rate[rating]">
	 <label class="star star-2" for="star-2"></label>
	<input class="star star-1" id="star-1" type="radio" value="1" name="rate[rating]"> 
	<label class="star star-1" for="star-1"></label>
	<center><p style="width:50px">
		<input type="button" name="commit" value="rate" class="btn rate-post" data-disable-with="rate"  data-id = "">
	</p></center>
</div>
<% else %>	
	<input type="button" name="rate" class = "rates-post" id = "re-rate-post" value = "re-rate">
<div class = "rating-post" style = "width: 300px; display: none" >
	<input value="<%= @post.class.name %>" type="hidden" name="rate[rate_duty_type]" id="rate_rate_duty_type">
	<input value="<%= current_user.id %>" type="hidden" name="rate[rate_duty_type]" id="rate-post-user">
	<input value="<%= @post.id %>" type="hidden" name="rate[rate_duty_id]" id="rate_rate_duty_id" class = "creat-rates">
	<input class="star star-5" id="star-5" type="radio" value="5" name="rate[rating]">
	<label class="star star-5" for="star-5"></label>
	<input class="star star-4" id="star-4" type="radio" value="4" name="rate[rating]">
	<label class="star star-4" for="star-4"></label>
	<input class="star star-3" id="star-3" type="radio" value="3" name="rate[rating]">
	<label class="star star-3" for="star-3"></label>
	<input class="star star-2" id="star-2" type="radio" value="2" name="rate[rating]">
	 <label class="star star-2" for="star-2"></label>
	<input class="star star-1" id="star-1" type="radio" value="1" name="rate[rating]"> 
	<label class="star star-1" for="star-1"></label>
	<center><p style="width:50px">
		<input type="button" name="commit" value="rate" class="btn re-rate-post" data-disable-with="rate"  data-id = "<%= @rate.id %>">
	</p></center>
</div>
<% end %>
<% end %>
	<div class = "append-comment" style = "margin-top: 20px" id = "append-comment-post">
		<% if @comments.any? %>
			<%= render @comments %>
		<% end %>
	</div>
<% if user_signed_in? %>	
	
	
	<div>
		<input value="<%= @post.id %>" type="hidden" name="comment[cmt_duty_id]" id="comment_cmt_duty_id">
		<input value="<%= current_user.id %>" type="hidden" name="comment[user_id]" id="comment_user_id">
		<input value="<%= @post.class.name %>" type="hidden" name="comment[cmt_duty_type]" id="comment_cmt_duty_type">
		<textarea class="form-control" name="comment[content]" id="comment_content"></textarea>
		<input type="button" name="commit" value="comment" class="btn-success post-comment" data-disable-with="comment">
	</div>
<% end %>

