<style type="text/css">
	.column {
  float: left;
  width: 25%;
  text-align: center;
}
li {
	list-style: none;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer {
	margin-bottom: 30px;
	font-size: 20px ; 
}
</style>
<footer class="footer">
	<div class = "container" >
			<div class="row">
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			

			</div>
			<div style='width: 800px;'>  
			  <div id="map" style='width: 800px; height: 400px;'></div>  
			</div>  

 	
</footer>

<script type="text/javascript">  


handler = Gmaps.build('Google');
debugger
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 20.893746660524037,
      "lng": 105.76440681632089,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>