<style type="text/css">
	.column {
  float: left;
  width: 25%;
  text-align: center;
}
li {
	list-style: none;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer {
	margin-bottom: 30px;
}
</style>
<footer class="footer">
	<div class = "container" >
			<div class="row">
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			  <div class="column">
			  	<li><%= link_to 'Đây là footer', "#" %></li>
			  	<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
				<li><%= link_to 'Đây là footer', "#" %></li>
			  </div>
			</div>

 
</footer>