<style type="text/css">
	{
		clear: both;
  	margin: 0;
	  padding: 0;
	}
	#menu ul {

	  list-style-type: none;
	  text-align: center;
	}
	#menu li {
	  color: #f1f1f1;
	  display: inline-block;
	  width: 120px;
	  height: 40px;
	  line-height: 40px;
	  padding-top: 20px;
	}
	#menu a {
	  text-decoration: none;
	  color: #fff;
	  display: block;
	}
	#menu a:hover {
	  background: #F1F1F1;
	  color: #333;
	}
	/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */

/* Links inside the dropdown */


/* Change color of dropdown links on hover */


/* Show the dropdown menu on hover */


/* Change the background color of the dropdown button when the dropdown content is shown */

</style>


<div id="menu" style = "background-color: #1D3473; ">
	<ul>
		<li>
		<%= link_to root_url do %>
			<i class="fa fa-book" style="font-size:40px;color: #636F0C ">	
			</i>
			<% end %>
		</li>
			<% if user_signed_in? && current_user.orders.last.present? %>
		<li>
				<li><%= link_to t("orders.show.checkout"), order_path(current_user.orders.last) %></li>

		</li>
		<% end %>
		<li>
			<% if user_signed_in? %>
			  <%= link_to  cart_path(current_cart) do %>
			 	<i class="fa fa-shopping-cart" style = "font-size: 16px"></i>   Cart
			  <% end %>	
		</li>
			<% end %>
		<li>
			<a href="/booksales"> Shop</a>
		</li>
		<li>
			<% if user_signed_in? %>	
				<% if current_user.admin? %>
					<%= link_to admin_home_path do %>
						Admin
						<i class="fa fa-user" style="font-size:24px"></i>
					<% end %> 
				<% else  %>	
					<%= link_to user_path(current_user) do %>
						Profile
						<i class="fa fa-user" style="font-size:24px"></i>
					<% end %>
				<% end %>	
			<% end %>
		</li>
		<li>
			<% if user_signed_in? %>
				<%= link_to  destroy_user_session_path, method: :delete do %>
				Logout
				<i class="fa fa-sign-out" style="font-size:24px"></i>
				<% end %>	
			<% else %>
				<%= link_to 'login', new_user_session_path, id: "add-login" %>
			<% end %>
			<%= render 'activities/counter', counter: @activities.count %>
		</li>
		<li>

		</li>
	</ul>

</div>

